body {
  font-family: "roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border: 3px solid red;
  /* display: flex; */
}

.team-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-portfolio-img {
  margin-bottom: 32px;
}

.team-portfolio-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-portfolio-text {
  text-align: center;
  letter-spacing: 0.02em;
}

/* ==========HEADER============  */

.header {
  /* border-bottom: 1px solid #e7e9fc; */
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  /* align-items: center; */
}

.header-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-list {
  display: flex;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
}

.address-list {
  display: flex;
}

.header-address-link {
  color: #434455;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* ======================  */

/* ==========HERO============  */

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ======================  */

/* ==========ADVANTAGES============  */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-text {
  letter-spacing: 0.02em;
}

/* ======================  */

/* ==========TEAM============  */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  background-color: #ffffff;
}

/* ======================  */

/* ==========PORTFOLIO============  */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ======================  */

/* ==========FOOTER============  */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* ======================  */
